.contactListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border: 1px solid #511278;
    background-color: #ffe3c9;
  }
  
  .contact {
    font-size: 20px;
    font-family: system-ui;
    margin-left: 10px;
    font-weight: 700;
    color: #410269;
  }
  
  .contactListButton {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 0;
    font-family: system-ui;
    font-size: 15px;
    border-radius: 50%;
    background-color: #d96e0b;
    border-color: #410269;
  }
  
  .contactListButton:focus {
    outline: none;
    background-color: #d96f0bbe;
  }